
.about h3{
    text-align: center;
}
.boxes{
    /* border: 2px solid red; */
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    margin: 0 200px;
}
.box{
    /* border: 2px solid blue; */
    /* margin: 8px; */
    padding: 10px;
    width: 65%; 
    display: inline-block;
    box-sizing: border-box;
    margin: 7px 0px;
    transition: all 1s;
}
.box:hover{
    background-color: #363636;
    border-radius: 16px;
}
aside{
    float: right;
    position: relative;
    width: 30%;
    background-image: linear-gradient(#363636,#181818);
    /* border: 2px solid blue; */
    padding: 15px;
    height: 100%;
    /* top:0; */
    box-sizing: border-box;
    margin:20px 0;
    transition: all 1s;
}
aside:hover{
    border-radius: 16px;
}
p{
    text-align: justify;
}